*{
    margin: 0;
}
body{
    font-family: 'roboto', sans-serif;
}
.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    
}
.menu-list-item{
margin-right: 30px;
cursor: pointer;

}
.menu-list-item.active{
    font-weight: bold;
}
